.menu{
        height: 100px;
    display: flex;
    background: darkgrey;
}
.menu-items{
        list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;
}
.menu-items a{
    color: tomato;
    animation: 1s;
}
.menu-items a:hover{
    color: teal;
}
.main{
    display: flex;
}
.left-aside{
    flex-basis: 40%;
}