.services-body{
    background-color: rgb(232, 232, 250);
    padding: 0px;
    margin: 0px;
}

.col-md-4{
    margin-right: 30px;
    width: 340px;
    position: relative;
    padding: 0px 10px 0px 10px;
}

.em-bar .em-bar-big{
    width: 47px;
    position: relative;
    margin-top: 20px;
}
.em-bar{
    background: #f40;
    height: 3px;
    width: 80px;
    margin: 0px auto 5px;
}

.col-md-4:hover{
    transform: translateY(-10px);
}

.page-title h5{
    color: #f40;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
}

.page-title h1{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    margin: 0px auto 20px;
}

.service-1{
    width: 80%;
    min-height: 80px;
    position: relative;
}

.service{
    background: #fff;
    padding: 20px;
    bottom: 40px;
}

.service-logo{
    color: #f40;
}

.service h4{
    margin: 20px 0px 20px 0px;
    font-family: 'Roboto',sans-serif;
}

.service a{
    color: rgb(27, 25, 24);
    text-transform: uppercase;
}

.service h4:hover{
    color: #f40;
    cursor: pointer;
}
