/* .about-us{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-template-areas: "hero-img hero-img hero-img hero-img"
                          "menu     content  content  content"
                          "img      img       img       img ";
}
.hero-img{
    grid-template-rows: 'hero-img';
}
.section-main{
    grid-area: 'menu';
}
.img-section{
grid-area: 'img';
} */
.hero-img{
    margin: 10px 0;
}
.menu{
    list-style: none;
    font-size: xx-large;
    padding: 10px 0;
    margin: 0;
    
}
.content{
    font-style: italic;
    font-size: medium;
    padding: 10px 0;
    
}
.img-section{
    display: flex;
}
.image{
    padding: 0 8px;
}