.header{
    background-color: #000;
    
}
.header > ul{
    display: flex;
    gap: 2em;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}
.header > ul li{ 
    list-style: none;
    color:#fff;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.header > ul li:hover{
     background-color: #fff;
     color:#000;
     cursor: pointer;
}