body{
    margin: 0;
}
.header,
.footer{
    background-color: teal;
    height: 10vh;
}
.sidebar-left,
.sidebar-right{
    background-color: tomato;
     height: 80vh;
     width: 20%; 
}
main{
   background-color: teal;
   width: 60%;
   height: 80vh;
}
.main{
    display: flex;
}
